@model ozowebapp.Models.ZanimanjeClass

@{
    ViewData["Title"] = "Details";
}

<h2 style="margin-top:50px;">Zanimanja</h2>

<div>
    <h4>Detalji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Satnica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Satnica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ZanimanjeClassID"><input type="submit" value="Uredi" class="btn btn-primary" /></a> &nbsp
    <a asp-action="Index">Natrag na popis</a>
</div>
