@model ozowebapp.Models.PosaoClass

@{
    ViewData["Title"] = "Details";
}

<h2 style="margin-top:50px;">Arhiva usluga</h2>

<div>
    <h4>Detalji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt>
            Početak usluge
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum_pocetak)
        </dd>
        <dt>
            Kraj usluge
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum_kraj)
        </dd>
        <dt>
            ID Usluge
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UslugaClassID)
        </dd>
        <dt>
            Zanimanja
        </dt>
        @for (int i = 0; i < Model.PosaoToZanimanjes.Count; i++)
        {

            <dd>

                @Html.DisplayFor(model => model.PosaoToZanimanjes[i].Naziv, new { Style = "font-size:20px;" })
                &nbsp;&nbsp;&nbsp;&nbsp;
                Broj radnika:
                @Html.DisplayFor(model => model.PosaoToZanimanjes[i].Kolicina)
                <br />

            </dd>
        }
        <br />

        <dt>
            Oprema
        </dt>
        @for (int i = 0; i < Model.PosaoToOpremas.Count; i++)
        {

            <dd>

                @Html.DisplayFor(model => model.PosaoToOpremas[i].Naziv)
                &nbsp;&nbsp;&nbsp;&nbsp;
                Količina:
                @Html.DisplayFor(model => model.PosaoToOpremas[i].Kolicina)
                <br />

            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Nazad na popis</a>
</div>
