@model ozowebapp.Models.UslugaClass

@{
    ViewData["Title"] = "Details";
}

<style>
    dt {
        margin-top: 5px;
    }

    dd {
        margin-top: 5px;
    }
</style>

<h2 style="margin-top:50px;">Usluge</h2>

<div>
    <h4>Detalji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd style=" margin-top: 0px">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <br />
        <dt>
            Zanimanja
        </dt>
        @for (int i = 0; i < Model.UslugaToZanimanjes.Count; i++)
        {

            <dd>

                @Html.DisplayFor(model => model.UslugaToZanimanjes[i].Naziv, new { Style = "font-size:20px;" })
                &nbsp;&nbsp;&nbsp;&nbsp;
                Broj radnika:
                @Html.DisplayFor(model => model.UslugaToZanimanjes[i].Kolicina)
                <br />

            </dd>
        }
        <br />

        <dt>
            Oprema
        </dt>
        @for (int i = 0; i < Model.UslugaToOpremas.Count; i++)
        {

            <dd>

                @Html.DisplayFor(model => model.UslugaToOpremas[i].Naziv)
                &nbsp;&nbsp;&nbsp;&nbsp;
                Količina:
                @Html.DisplayFor(model => model.UslugaToOpremas[i].Kolicina)
                <br />

            </dd>
        }
    </dl>
</div>
<br />
<br />

<div>
    <a asp-action="Index">Nazad na popis</a>
</div>
