@model IEnumerable<ozowebapp.Models.UslugaClass>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:50px;">Usluge</h2>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary float-lg-left">Nova usluga</button></a>
</p>
<p>
    @using (Html.BeginForm("Index", "Usluga", FormMethod.Get))
    {
        @Html.TextBox("search")<input style="margin-left:4px;" type="submit" value="Pretraži" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.UslugaClassID"><button type="button" class="btn btn-primary float-lg-left">Uredi</button></a>&nbsp*@
                <a asp-action="Details" asp-route-id="@item.UslugaClassID"><button type="button" class="btn btn-primary float-lg-left">Detalji</button></a>&nbsp
                <a asp-action="Delete" asp-route-id="@item.UslugaClassID"><button type="submit" class="btn btn-warning">Izbriši</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Djelatnici Paging">
    <div class="text-center">
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </div>
</nav>
