@model IEnumerable<ozowebapp.Models.OpremaClass>

@{
    ViewData["Title"] = "Index";
}

    <h2 style="margin-top:50px;">Oprema</h2>

    <p>
        <a asp-action="Create"><button type="button" class="btn btn-primary float-lg-left">Nova oprema</button></a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duljina_Koristenja_u_h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_proizvodnje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duljina_Koristenja_u_h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_proizvodnje)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpremaClassID"><button type="button" class="btn btn-primary float-lg-left">Uredi</button></a>&nbsp
                <a asp-action="Details" asp-route-id="@item.OpremaClassID"><button type="button" class="btn btn-primary float-lg-left">Detaljno</button></a>&nbsp
                <a asp-action="Delete" asp-route-id="@item.OpremaClassID"><button type="submit" class="btn btn-warning">Izbriši</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
