@model IEnumerable<ozowebapp.Models.DjelatnikClass>

@{
    ViewData["Title"] = "Index";
}

    <h2 style="margin-top:50px;">Djelatnici</h2>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary float-lg-left">Novi djelatnik</button></a>
</p>
<p>
    @using (Html.BeginForm("Index", "Djelatnici", FormMethod.Get))
    {
        @Html.TextBox("search")<input style="margin-left:4px;" type="submit" value="Pretraži" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                Zanimanje
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Datum rođenja
            </th>
            <th>
                Opcije
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZanimanjeClass.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_rodjenja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DjelatnikClassID"><button type="button" class="btn btn-primary float-lg-left">Uredi</button></a> &nbsp
                <a asp-action="Details" asp-route-id="@item.DjelatnikClassID"><button type="button" class="btn btn-primary float-lg-left">Detalji</button></a>&nbsp
                <a asp-action="Delete" asp-route-id="@item.DjelatnikClassID"><button type="submit" class="btn btn-warning">Izbriši</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Djelatnici Paging">
    <div class="text-center">
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </div>
</nav>
