@model IEnumerable<ozowebapp.Models.DjelatnikClass>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:50px;">Djelatnici</h2>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary float-lg-left">Novi djelatnik</button></a>
</p>
<p>
    @using (Html.BeginForm("Index", "Djelatnici", FormMethod.Get))
    {
        @Html.TextBox("search")<input style="margin-left:4px;" type="submit" value="Pretraži" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanimanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_rodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JMBG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Usluga_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Natjecaj_ID)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zanimanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum_rodjenja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JMBG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Usluga_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Natjecaj_ID)
                </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-primary float-lg-left">Uredi</button></a> &nbsp
                <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="btn btn-primary float-lg-left">Detaljno</button></a>&nbsp
                <a asp-action="Delete" asp-route-id="@item.ID"><button type="submit" class="btn btn-warning">Obriši</button></a>
            </td>
            </tr>
        }
    </tbody>
</table>
