@model ozowebapp.Models.NatjecajClass

@{
    ViewData["Title"] = "Delete";
}

<h2 style="margin-top:50px;">Natječaji</h2>

<h3>Izbriši natječaj</h3>
<div>
    <h4>Jeste li sigurni?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt>
            Zanimanja
        </dt>
        @for (int i = 0; i < Model.NatjecajToZanimanjes.Count; i++)
        {

            <dd>

                Naziv
                @Html.DisplayFor(model => model.NatjecajToZanimanjes[i].Naziv)
                &nbsp;
                Količina
                @Html.DisplayFor(model => model.NatjecajToZanimanjes[i].Kolicina)
                <br />

            </dd>
        }
        <dt>
            Oprema
        </dt>
        @for (int i = 0; i < Model.NatjecajToOpremas.Count; i++)
        {

            <dd>
                Naziv
                @Html.DisplayFor(model => model.NatjecajToOpremas[i].Naziv)
                &nbsp;
                Količina
                @Html.DisplayFor(model => model.NatjecajToOpremas[i].Kolicina)
                <br />

            </dd>
        }
    </dl>
    <br />
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="NatjecajClassID" />
        <input type="submit" value="Izbriši" class="btn btn-warning" /> &nbsp
        <a asp-action="Index">Nazad na popis</a>
    </form>
</div>
